#!/bin/bash
# Set your own settings here in order to connect to your IRC network.
# I recommend connecting to a bouncer(ZNC) so that you can have multiple clients report to the same server under the same name.
server=irc.example.com
port=1337
password=password1234

# Enter a nick of an operator here to be notified when the command completes.

oper=badmin

# Add a channel here to report to.  Make sure to escape the #

channel=\#stuff

# Set a timeout.  I like to give irssi a few seconds between commands; I've noticed no delay tends not to work.  Timer is in secon$

timeout=10

